---
import SectionHeader from "@/components/SectionHeader.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import MarkdownHobbySummary from "@/components/MarkdownHobbySummary.astro";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import PaginationNavigator from "@/components/PaginationNavigator.astro";
import { sectionMap } from "@/scripts/section";
import RssRoundButton from "@/components/RssRoundButton.astro";
import { getI18nStaticPaths, useTranslatedPath, useTranslations, type Lang } from "@/scripts/i18n";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  return getI18nStaticPaths(async (lang) => {
    // - 주의 : id 기반으로 includes 검사했더니 일반 blog 는 engineeing/ko/hello 되어서 괜찮은데 hobby 는 ko/hello 라서 안걸려가지고 부득이하게 이렇게 처리함
    // const hobbyPosts = (await getCollection("hobby", ({ id }) => id.includes(`/${lang}/`))).sort(
    const hobbyPosts = (
      await getCollection("hobby", ({ filePath }) => filePath?.includes(`/${lang}/`))
    ).sort(
      (hobbyPost1, hobbyPost2) =>
        new Date(hobbyPost2.data.created).getTime() - new Date(hobbyPost1.data.created).getTime(),
    );

    return paginate(hobbyPosts, {
      params: { lang },
      pageSize: 5,
    });
  });
};

interface Props {
  page: Page<CollectionEntry<"hobby">>;
}

interface Params {
  lang: Lang;
}

const { lang } = Astro.params as unknown as Params;
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);

// 왜 pages/[lang]/posts/[section]/[...page].astro 는 잘되는데 이 파일은 Props 가 안되는지 모르겠음
const { page } = Astro.props as unknown as Props;
---

<BaseLayout
  lang={lang}
  title={sectionMap.hobby.title}
  keywords={sectionMap.hobby.shorten[lang]}
  description={sectionMap.hobby.description[lang]}
>
  <main>
    <SectionHeader lang={lang as Lang} section={"hobby"} />
    <div class="dashboard">
      {
        page.data.length === 0 && (
          <div class="non-articles">
            <span class="line-1">{t("post.not-exists")}</span>
            <span class="line-2">{t("post.rss-guidance")}</span>
            <RssRoundButton />
          </div>
        )
      }
      {
        page.data.length > 0 && (
          <div class="recent-articles">
            <div class="recent-articles-list">
              {page.data.map((each, index) => (
                <MarkdownHobbySummary
                  lang={lang as Lang}
                  post={each}
                  isDisplaySection={false}
                  isDisplayImage={false}
                />
              ))}
            </div>
            <PaginationNavigator baseurl={translatePath(sectionMap["hobby"].url)} page={page} />
          </div>
        )
      }
    </div>
  </main>
</BaseLayout>

<style>
  .dashboard {
    max-width: 700px;
    margin: 1.2em auto 2.6em;
    padding: 0 1.2em;
  }

  .non-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.2em;

    .line-1 {
      font-size: 0.8em;
    }

    .line-2 {
      font-size: 1em;
    }
  }

  .recent-articles {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  .recent-articles-headline {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  .recent-articles-middle {
    display: flex;
    flex-direction: row;
    gap: 1.2em;
  }

  .recent-middle-article {
    flex: 1;
  }

  .recent-articles-list {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }
</style>
