---
import SectionHeader from "@/components/SectionHeader.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import MarkdownHobbySummary from "@/components/MarkdownHobbySummary.astro";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import PaginationNavigator from "@/components/PaginationNavigator.astro";
import { sectionMap } from "@/scripts/section";
import RssRoundButton from "@/components/RssRoundButton.astro";
import { getI18nStaticPaths, useTranslatedPath, type Lang } from "@/scripts/i18n";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  return getI18nStaticPaths(async (lang) => {
    const hobbyPosts = (await getCollection("hobby", ({ id }) => id.includes(`/${lang}/`))).sort(
      (hobbyPost1, hobbyPost2) =>
        new Date(hobbyPost2.data.created).getTime() - new Date(hobbyPost1.data.created).getTime(),
    );

    return paginate(hobbyPosts, {
      params: { lang },
      pageSize: 5,
    });
  });
};

interface Props {
  page: Page<CollectionEntry<"hobby">>;
}

const { lang } = Astro.params;
const translatePath = useTranslatedPath(lang!);

const { page } = Astro.props;
---

<BaseLayout lang={lang}>
  <main>
    <SectionHeader section={"hobby"} />
    <div class="dashboard">
      {
        page.data.length === 0 && (
          <div class="non-articles">
            <span class="line-1">아직 작성된 글이 없습니다.</span>
            <span class="line-2">새 글이 올라왔을때 알 수 있게 RSS 등록을 해보세요</span>
            <RssRoundButton />
          </div>
        )
      }
      {
        page.data.length > 0 && (
          <div class="recent-articles">
            <div class="recent-articles-list">
              {page.data.map((each, index) => (
                <MarkdownHobbySummary
                  lang={lang as Lang}
                  post={each}
                  isDisplaySection={false}
                  isDisplayImage={false}
                />
              ))}
            </div>
            <PaginationNavigator baseurl={translatePath(sectionMap["hobby"].url)} page={page} />
          </div>
        )
      }
    </div>
  </main>
</BaseLayout>

<style>
  .dashboard {
    max-width: 700px;
    margin: 1.2em auto 2.6em;
    padding: 0 1.2em;
  }

  .non-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.2em;

    .line-1 {
      font-size: 0.8em;
    }

    .line-2 {
      font-size: 1em;
    }
  }

  .recent-articles {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  .recent-articles-headline {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  .recent-articles-middle {
    display: flex;
    flex-direction: row;
    gap: 1.2em;
  }

  .recent-middle-article {
    flex: 1;
  }

  .recent-articles-list {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }
</style>
