---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

// const allPosts = Object.values(import.meta.glob("@/pages/posts/*.md", { eager: true }));
const blogs = await getCollection("blog");
const hobbies = await getCollection("hobby");
const posts = [...blogs, ...hobbies];

const uniqueTags = [...new Set(blogs.map((post) => post.data.category).flat())];

type CategoryTree = Array<CategoryNode>;
interface CategoryNode {
  category: string;
  count: number;
  posts: Array<CollectionEntry<"blog" | "hobby">>;
  subcategory: CategoryTree;
}

const categoryTree: CategoryTree = posts.reduce(
  (tree: CategoryTree, post: CollectionEntry<"blog" | "hobby">) => {
    const categories = post.data.category;

    if (!categories || !Array.isArray(categories)) return tree;

    let currentTree = tree;

    categories.forEach((category, index) => {
      // 현재 레벨에서 같은 이름의 카테고리가 있는지 확인
      let existingCategory = currentTree.find((node) => node.category === category);

      // (A) 존재하는 / 존재하지않으면 새로 생성한 카테고리
      if (!existingCategory) {
        // 존재하지 않으면 새로 생성
        existingCategory = {
          category: category,
          count: 0,
          posts: [],
          subcategory: [],
        };
        currentTree.push(existingCategory);
      }

      // (B) 카테고리 내 Post 글 추가하는 단계 - 무조건 1 카운트 추가하고 시작
      existingCategory.count += 1;
      // (B.1) 가장 마지막 카테고리일때만 Post 포스트를 추가
      const isLast = index === categories.length - 1;
      if (isLast) {
        existingCategory.posts.push(post);
      }

      // 다음 순회에서는 현재 카테고리의 subcategory 배열을 타겟으로 설정
      currentTree = existingCategory.subcategory;
    });

    return tree;
  },
  [],
);
---

<BaseLayout>
  <article>
    <div class="categories">
      {
        categoryTree.map((eachCategory) => {
          return (
            <div class="main-category">
              {/* MAIN CATEGORY */}
              <div class="main-category-header">
                <div class="main-category-title">
                  <Icon name="lucide:chevron-right" width="20" />
                  {eachCategory.category}
                </div>
                <div class="main-category-count">{eachCategory.count}</div>
              </div>
              <ul class="main-category-posts">
                {eachCategory.posts.map((post) => (
                  <li class="main-category-post">{post.data.title}</li>
                ))}
              </ul>
              {/* SUB CATEGORY */}
              {eachCategory.subcategory.map((subcategory) => (
                <div class="sub-category">
                  <div class="sub-category-header">
                    <div class="sub-category-title">
                      <Icon name="lucide:arrow-right" width="20" />
                      {subcategory.category}
                    </div>
                    <div class="sub-category-count">{subcategory.count}</div>
                  </div>
                  <ul class="sub-category-posts">
                    {subcategory.posts.map((post) => (
                      <li class="sub-category-post">{post.data.title}</li>
                    ))}
                  </ul>
                  {/* NESTED CATEGORY */}
                  {subcategory.subcategory.map((subcategory) => (
                    <div class="nested-category">
                      <div class="nested-category-header">
                        <div class="nested-category-title">{subcategory.category}</div>
                        <div class="nested-category-count">{subcategory.count}</div>
                      </div>
                      <ul class="nested-category-posts">
                        {subcategory.posts.map((post) => (
                          <li class="nested-category-post">{post.data.title}</li>
                        ))}
                      </ul>
                    </div>
                  ))}
                </div>
              ))}
            </div>
          );
        })
      }
      {
        uniqueTags.map((eachTag) => (
          <p class="category">
            <a href={`/categories/${eachTag}`}>{eachTag}</a>
          </p>
        ))
      }
    </div>
  </article>
</BaseLayout>

<style>
  article {
    max-width: 700px;
    margin: 1.2em auto 2.6em;
    padding: 0 1.2em;
  }

  .categories {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  .category {
    /* margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd; */
  }

  .main-category {
    border: 1px solid var(--text-link);
    border-radius: 10px;
    padding: 0.7em;
    padding-bottom: 0.8em;

    @media only screen and (max-width: 700px) {
      margin: 8px;
    }
  }

  .main-category-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em 0.6em 0.1em 0.2em;
    /*  */
    font-size: 1.12em;
    color: var(--text-link);
    background-color: var(--text-link-background);
    border-radius: 5px;

    @media only screen and (max-width: 700px) {
      font-size: 1.015rem;
    }

    .main-category-title {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .main-category-posts {
    margin-top: 0.4em;
    list-style: disc;
  }

  .main-category-post {
    display: list-item;
    margin-left: 2.4em;

    /* display: flex;
    flex-direction: row;
    align-items: center; */
    margin-top: 0.2em;
  }

  .sub-category {
    margin-top: 0.6em;
    margin-left: 0.8em;
  }

  .sub-category-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.15em 0.6em 0.15em 0.2em;
    /*  */
    font-size: 1.05em;
    color: var(--text-link);
    border: 1px solid var(--text-link);
    border-radius: 0.3em;
    margin-top: 0.2em;

    @media only screen and (max-width: 700px) {
      margin: 8px;
    }

    .sub-category-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.1em;
    }
  }

  .sub-category-posts {
    margin-top: 0.3em;
    list-style: circle;
  }

  .sub-category-post {
    display: list-item;
    margin-left: 2.6em;

    /* display: flex;
    flex-direction: row;
    align-items: center; */
    margin-top: 0.2em;
  }

  .nested-category {
  }

  .nested-category-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*  */
    border: 1px solid var(--text-link);
    border-radius: 10px;
    padding: 10px;

    @media only screen and (max-width: 700px) {
      margin: 8px;
    }
  }
</style>
