---
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { sectionMap } from "@/scripts/section.ts";
import { shuffle } from "@/scripts/shuffle.js";
import MarkdownPostSummary from "@/components/MarkdownPostSummary.astro";
import MarkdownPostSquare from "@/components/MarkdownPostSquare.astro";

const posts = (await getCollection("blog")).sort(
  (relatedPost1, relatedPost2) =>
    new Date(relatedPost2.data.created).getTime() - new Date(relatedPost1.data.created).getTime(),
);
const recentPosts = posts.filter((post) => post.filePath?.split("/").slice(1, -1)[0] !== "opinion");
const opinionPosts = posts.filter(
  (post) => post.filePath?.split("/").slice(1, -1)[0] === "opinion",
);
---

<BaseLayout>
  <main>
    <div class="dashboard">
      <div class="section-articles">
        <div class="recent-articles">
          <div class="recent-articles-headline">
            <MarkdownPostSummary post={recentPosts[0]} />
          </div>
          <div class="recent-articles-list">
            <MarkdownPostSummary post={recentPosts[1]} isDisplayImage={false} />
            <MarkdownPostSummary post={recentPosts[2]} isDisplayImage={false} />
            <MarkdownPostSummary post={recentPosts[3]} isDisplayImage={false} />
          </div>
          <a class="retrieve-more-button" href={sectionMap.posts.url}>더 많은 글들 보기</a>
        </div>

        <div class="random-articles">
          <div class="post-section">
            <a href={sectionMap.opinion.url}>{sectionMap.opinion.title}</a>
          </div>
          <div class="random-articles-list">
            {
              opinionPosts
                .slice(0, 7)
                .map((each) => (
                  <MarkdownPostSquare
                    post={each}
                    isDisplaySection={false}
                    isDisplayCategory={false}
                  />
                ))
            }
          </div>
        </div>
      </div>
    </div>
  </main>
</BaseLayout>

<style>
  main {
    margin: 0 auto;
    max-width: 980px;
  }

  .dashboard {
    display: grid;
    margin-top: 0.6em;
    margin-inline: 1.2em;
    margin-bottom: 1.8em;

    grid-template-columns: 1fr;
  }

  .section-articles {
    display: grid;

    grid-template-columns: 1fr;

    @media only screen and (min-width: 850px) {
      grid-template-columns: 1fr 280px;
      grid-column-gap: 26px;
    }
  }

  .random-articles {
    display: none;
  }

  /* 화면이 커지면(PC) 나타남 */
  @media (min-width: 850px) {
    .random-articles {
      display: block;
    }
  }

  .random-articles-list {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 1.2em;
  }

  .recent-articles {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  .recent-articles-headline {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  .recent-articles-list {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  .retrieve-more-button {
    /* cursor: pointer; */
    border-radius: 4px;
    background-color: var(--text-link-background);
    font-size: 1em;
    height: 2.6em;
    line-height: 2.6em;
    text-align: center;

    @media only screen and (max-width: 700px) {
      font-size: 0.84em;
    }
  }
</style>
