---
import { Image } from "astro:assets";
import { convert } from "@/libs/date";
import { sectionMap } from "@/scripts/section";
import { useTranslatedPath } from "@/scripts/i18n";

const { lang, frontmatter } = Astro.props;
const translatePath = useTranslatedPath(lang);
---

<section>
  <div class="post-category">
    {
      frontmatter.category.map((each: string, index: number) => (
        <a
          href={translatePath(
            sectionMap.categories.url +
              "/" +
              frontmatter.category
                .map((each: string) => each.toLowerCase().replace(",", "").replace(" ", "-"))
                .slice(0, index + 1)
                .join("/"),
          )}
        >
          {each}
        </a>
      ))
    }
  </div>
  <p class="post-headline">
    {frontmatter.title}
  </p>
  {
    frontmatter.image && (
      <Image class="post-image" src={frontmatter.image.url} alt={frontmatter.image.alt} />
    )
  }
  {frontmatter.deck && <div class="post-deck">{frontmatter.deck}</div>}
  {frontmatter.abstract && <div class="post-absract">{frontmatter.abstract}</div>}
  <div class="post-time">
    <time class="post-created-time" datetime={frontmatter.created.toISOString()}>
      생성일 : {convert(frontmatter.created, lang).full}
    </time>
    {
      frontmatter.updated && (
        <time class="post-updated-time" datetime={frontmatter.updated.toISOString()}>
          수정일 : {convert(frontmatter.updated, lang).full}
        </time>
      )
    }
  </div>
</section>

<style>
  .post-category a {
    color: inherit;
    transition: all 0.2s ease;
    font-size: 1.2em;
  }

  .post-category a:hover {
    color: var(--text-link);
  }

  .post-image {
    margin-top: 1.4em;
  }

  .post-category {
    padding-top: 1.4em;
    letter-spacing: 0.03em;
    font-size: 0.8em;
    text-transform: uppercase;

    a:not(:last-child)::after {
      content: " / ";
    }
  }

  .post-headline {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    font-size: 1.6em;
    font-weight: 500;

    @media only screen and (max-width: 700px) {
      font-size: 1.25em;
    }
  }

  .post-deck {
    margin: 0.95em 0 0;
    padding: 0 0.1em;
    line-height: 1.8;
    font-size: 1em;

    @media only screen and (max-width: 700px) {
      font-size: 0.84em;
    }
  }

  .post-absract {
    margin: 0 auto;
    padding: 1em 1em 0;
    max-width: 750px;
    display: flex;
    justify-content: center;
    line-height: 1.8;
    font-size: 1em;

    @media only screen and (max-width: 700px) {
      font-size: 0.84em;
    }
  }
  .post-time {
    margin: 1em 0 1.5em;
  }
  .post-created-time {
    color: var(--brand);
    font-weight: 300;
  }

  .post-created-time,
  .post-updated-time {
    display: block;
    padding-left: 1em;
    letter-spacing: 0.02em;
    font-size: 0.83em;

    @media only screen and (max-width: 700px) {
      padding-left: 0.1em;
    }
  }
</style>
