---
import NestedCategory from "@/components/NestedCategory.astro";
import type { CategoryNode } from "@/pages/categories/index.astro";
import { Icon } from "astro-icon/components";

interface Props {
  node: CategoryNode;
  previousUrl: string;
}

const { node, previousUrl } = Astro.props;
const subCategoryUrl =
  previousUrl + "/" + node.category.toLowerCase().replace(",", "").replace(" ", "-");
---

<div class="sub-category">
  <div class="sub-category-header">
    <a class="sub-category-title" href={subCategoryUrl}>
      <Icon name="lucide:arrow-right" width="20" />
      {node.category}
    </a>
    <div class="sub-category-count">{node.count}</div>
  </div>
  <ul class="sub-category-posts">
    {
      node.posts.map((post) => (
        <li class="sub-category-post">
          <a href={`/posts/${post.filePath?.split("/").slice(1, -1).join("/")}`}>
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
  {
    node.subcategory.map((subcategory) => (
      <NestedCategory node={subcategory} previousUrl={subCategoryUrl} />
    ))
  }
</div>

<style>
  a {
    color: inherit;
    transition: all 0.2s ease;
  }

  a:hover {
    color: var(--text-link);
  }

  .sub-category {
    margin-top: 0.6em;
    margin-left: 0.8em;

    @media only screen and (max-width: 700px) {
      margin-top: 0.4em;
      margin-left: 0.5em;
    }
  }

  .sub-category-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.15em 0.6em 0.15em 0.2em;
    /*  */
    font-size: 1.05em;
    color: var(--text-link);
    border: 1px solid var(--text-link);
    border-radius: 0.3em;
    margin-top: 0.2em;

    @media only screen and (max-width: 700px) {
      font-size: 0.95rem;
    }

    .sub-category-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.1em;
    }
  }

  .sub-category-posts {
    list-style: circle;
    margin-top: 0.3em;
    margin-left: 2.6em;

    @media only screen and (max-width: 700px) {
      margin-left: 2.2em;
      font-size: 0.9em;
    }
  }

  .sub-category-post {
    display: list-item;
    margin-top: 0.2em;
  }

  .sub-category-post a {
    /* 1. 내용물만큼만 너비를 차지하도록 설정 */
    display: inline-block;

    /* 2. 최대 너비 지정 (이 지점을 넘어가면 말줄임표 발생) */
    max-width: 100%;

    /* 3. 말줄임 필수 속성 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* 브라우저가 너비를 계산할 때 도움이 됨 */
    vertical-align: bottom;
  }
</style>
