---
import MarkdownPostSummary from "@/components/MarkdownPostSummary.astro";
import PaginationNavigator from "@/components/PaginationNavigator.astro";
import SectionHeader from "@/components/SectionHeader.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { sectionMap } from "@/scripts/section";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  // 1. /pages/ 로 시작하는 모든 섹션들에 대한 페이지네이션 적용
  const sections = Object.entries(sectionMap)
    .filter((each) => each[1].url.includes("/posts/"))
    .map((filtered) => filtered[0]);

  // 2. /pages/ 로 시작하는 모든 페이지 가져와
  const posts = await getCollection("blog");
  // For every section, return a `paginate()` result.
  // Make sure that you pass `{ params: { section }}` to `paginate()`
  // so that Astro knows which section grouping the result is for.

  // 3. [section]/[...page] 자동 생성 < Astro 에서 자체적으로 제공하는 Pagination 사용 방법
  return sections.flatMap((section) => {
    const filteredPosts = posts.filter(
      (post) => post.filePath?.split("/").slice(1, -1)[0] === section,
    );
    return paginate(filteredPosts, {
      params: { section },
      pageSize: 5,
    });
  });
};

interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
const params = Astro.params;
---

<BaseLayout>
  <!-- @ts-ignore -->
  <SectionHeader section={params.section} />
  <main>
    <div class="dashboard">
      {
        page.data.length === 0 && (
          <div class="non-articles">
            <span class="line-1">아직 작성된 글이 없습니다.</span>
            <span class="line-2">새 글이 올라왔을때 알 수 있게 RSS 등록을 해보세요</span>
            <div id="rss-link">
              <Icon name="lucide:rss" width="16" height="16" />
              RSS 링크 복사
            </div>
          </div>
        )
      }
      {
        page.data.length > 0 && (
          <div class="recent-articles">
            <div class="recent-articles-list">
              {page.data.map((each, index) => (
                <MarkdownPostSummary post={each} isDisplaySection={false} isDisplayImage={false} />
              ))}
            </div>
            <!-- @ts-ignore -->
            <PaginationNavigator baseurl={sectionMap[params.section].url} page={page} />
          </div>
        )
      }
    </div>
  </main>
</BaseLayout>

<script>
const btn = document.getElementById('rss-link');
btn?.addEventListener('click', () => {
  const rssUrl = `${window.location.origin}/rss.xml`;
  // 클립보드 복사
  navigator.clipboard.writeText(rssUrl).then(() => {
    triggerToast("RSS 주소가 복사되었습니다. 구독기(Feedly 등)에 추가해주세요 🙂");
    // alert("RSS 주소가 복사되었습니다. 구독기(Feedly 등)에 추가해주세요 🙂");
  }).catch(() => {
    // 실패 시 대비책으로 주소창 이동
    window.location.href = rssUrl;
  });
});
</script>

<style>
  .dashboard {
    max-width: 700px;
    margin: 2em auto 2em;
    padding: 0 1.2em;
  }

  .non-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.2em;
    
    .line-1 {
      font-size: 0.8em;
    }

    .line-2 {
      font-size: 1em;
    }

    #rss-link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2em;
      padding-inline: 0.6em;
      margin-top: 0.4em;
      height: 2em;
      border: 1px solid var(--text);
      border-radius: 1px;
      text-decoration: none;
      color: var(--text);
      font-size: 0.9rem;
      transition: all 0.2s ease;
      cursor: pointer;
    }

    #rss-link:hover {
      background-color: var(--text-link-background);
    }
  }

  .recent-articles {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  .recent-articles-headline {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  .recent-articles-middle {
    display: flex;
    flex-direction: row;
    gap: 1.2em;
  }

  .recent-middle-article {
    flex: 1;
  }

  .recent-articles-list {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }
</style>
