---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";
import HeaderScrollSpy from "@/components/HeaderScrollSpy.astro";
import OnScrollStickyHeader from "@/components/OnScrollStickyHeader.astro";
import Toast from "@/components/Toast.astro";
import { changeLanguageOnPathname, type Lang } from "@/scripts/i18n";

export const AARON = "Aaron Ryu";
export const AARONS_BLOG_TITLE = "The Pessimistic Optimist";
export const AARONS_TWITTER_ACCOUNT = "@aaronryudev";
export const AARONS_BLOG_KEYWORDS = {
  ko: "웹, 백엔드, 스프링, 자바, 프론트엔드, 리액트, 데이터베이스, 네트워크, 인프라, 정치, 사회, 조직, 리더, 경제, 자본, 교육, 학습",
  en: "Web, Backend, Spring, Java, Frontend, React, Database, Network, Infrastructure, Politics, Society, Organization, Leader, Economy, Capital, Education, Learning",
  ja: "ウェブ, バックエンド, Spring, Java, フロントエンド, React, データベース, ネットワーク, インフラ, 政治, 社会, 組織, リーダー, 経済, 資本, 教育, 学習",
};
export const AARONS_BLOG_DESCRIPTION = {
  ko: "웹 개발 기술에 대한 쉬운 설명뿐만 아니라 정치, 사회, 리더, 경제 등 인문학에 관련된 저의 생각들을 적어내는 공간입니다",
  en: "This is a space where I share easy-to-understand explanations of web development technologies, as well as my thoughts on humanities including politics, society, leadership, and economy.",
  ja: "ウェブ開発技術の分かりやすい解説だけでなく、政治、社会、リーダー、経済など、人文科学に関する自身の考えを綴る空間です",
};

const {
  lang,
  title: posttitle = AARONS_BLOG_TITLE,
  author = AARON,
  keywords = AARONS_BLOG_KEYWORDS[lang as Lang],
  description = AARONS_BLOG_DESCRIPTION[lang as Lang],
  image,
  section,
  created,
  updated,
} = Astro.props;

// 제목 타이틀은 "예시 글 제목 | The Pessimistic Optimist" 이렇게 되어야한다
const title = posttitle ? posttitle + ' | ' + AARONS_BLOG_TITLE : AARONS_BLOG_TITLE
const ogImageUrl = new URL('/tpo-social-share.png', Astro.site).href;

const isArticle = title !== AARONS_BLOG_TITLE && !!created;
const isProd = import.meta.env.PROD;
const isDev = import.meta.env.DEV;

const canonicalURL = new URL(Astro.url.pathname, Astro.site).href;
const languageURL = changeLanguageOnPathname(Astro.url.pathname);
const koURL = new URL(languageURL.ko, Astro.site).href;
const enURL = new URL(languageURL.en, Astro.site).href;
const jaURL = new URL(languageURL.ja, Astro.site).href;
---

<html lang={lang}>
  <head>
    <!-- (0) 커스텀 폰트 사용을 위해 / 성능을 위해 CSS 가 아닌 HTML 로드 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"
    />
    <!-- (A) HTML 기본 설정 -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- 사용자의 줌을 막기 위해서는 content="user-scaleable=no,maximum-scale=1.0" 웹 접근성에선 안티패턴 -->
    <meta name="generator" content={Astro.generator} />
    <!-- (B.1) 기본 페이지 정보 -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="keywords" content={keywords} />
    <!-- (B.2) 소셜 페이지 및 오픈그래프 정보 -->
    <meta property="og:site_name" content={AARONS_BLOG_TITLE} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={isArticle ? "article" : "website"} />
    {
      isArticle && (
        <>
          <meta property="article:section" content={section} />
          {keywords.split("/").map((each: string) => (
            <meta property="article:tag" content={each.trim()} />
          ))}
          <meta property="article:author" content={author} />
          {created && <meta property="article:published_time" content={created} />}
          {updated && <meta property="article:modified_time" content={updated} />}
        </>
      )
    }
    <meta property="og:url" content="https://aaron.github.io/" />
    <meta property="og:image" content={image ?? ogImageUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content={AARONS_TWITTER_ACCOUNT} />
    <!-- (C.1) SEO 개선을 위한 Canonical 설정 - 원본 페이지 주소 명시 -->
    <!-- 현재 페이지의 절대 경로를 가리킴 -->
    <link rel="canonical" href={canonicalURL} />
    <!-- 다국어 연결 (hreflang) -->
    <link rel="alternate" hreflang="ko" href={koURL} />
    <link rel="alternate" hreflang="en" href={enURL} />
    <link rel="alternate" hreflang="ja" href={jaURL} />
    <!-- 그 외 전 세계 유저용 - 디폴트 (한국어 페이지를 기본으로 제안) -->
    <link rel="alternate" hreflang="x-default" href={koURL} />
    <!-- (C.2) SEO 추적을 위한 네이버 및 구글 태그매니저 Google tag (gtag.js) 설정 -->
    {isProd && (
      <>
        <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-Z8BLZPB8BR"></script>
        <script is:inline>
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag("js", new Date());
          gtag("config", "G-Z8BLZPB8BR");
        </script>
      </>
    )}
  </head>
  <body>
    {isArticle && <HeaderScrollSpy />}
    {isArticle && <OnScrollStickyHeader lang={lang} title={title} />}
    <Header lang={lang} />
    <slot />
    <Footer lang={lang} />
    <Toast />
  </body>
</html>
