---
import TableOfContents from "@/components/TableOfContents.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const { section, frontmatter, headings } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  keywords={frontmatter.keywords}
  description={frontmatter.description}
  image={frontmatter.image}
  section={section}
  created={frontmatter.created.toISOString()}
  updated={frontmatter.updated?.toISOString()}
>
  {headings && <TableOfContents headings={headings} />}
  <article>
    <!-- {frontmatter.image && <img />} <CustomGatsbyImage 참조해서 채워넣을것 -->
    <p class="post-category">
      {frontmatter.category.join(" / ")}
    </p>
    <p>{frontmatter.title}</p>
    <p>{frontmatter.created.toLocaleDateString()}</p>
    {frontmatter.updated && <p>{frontmatter.updated.toLocaleDateString()}</p>}
    {
      frontmatter.image && (
        <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
      )
    }
    <!-- <slot /> Summary 요약본은 전체 포스트 리스트에서 노출 - deck + abstract + title 정도만 노출 -->
  </article>
</BaseLayout>

<style>
  article {
    max-width: 800px;
    /* 여기에 패딩을 주어 우측 공간을 버릴지 아니면 TOC 에 패딩을 줘서 오른쪽으로 좀 옮길지 고민하다 전자 선택 */
    padding: 0 1em 0 0;
    margin: 0 auto;
  }
  @media only screen and (max-width: 1280px) {
    article {
      margin: 0 auto 0 50px;
      padding: 0 1.2rem;
    }
  }
  @media only screen and (max-width: 1024px) {
    article {
      margin: 0 auto 0 0;
      padding: 0 1.2rem;
    }
  }
  @media only screen and (max-width: 970px) {
    article {
      margin: 0 auto;
      padding: 0 1.2rem;
    }
  }
</style>
