---
import { Image } from "astro:assets";
import CreativeCommonsCard from "@/components/CreativeCommonsCard.astro";
import TableOfContents from "@/components/TableOfContents.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import MarkdownPost from "@/layouts/MarkdownPost.astro";
import { convert } from "@/libs/date";
import SectionHeader from "@/components/SectionHeader.astro";
import MarkdownPostHeader from "@/components/MarkdownPostHeader.astro";
import MarkdownPostSummaryBar from "@/components/MarkdownPostSummaryBar.astro";
import type { CollectionEntry } from "astro:content";
import type { sectionMap } from "@/scripts/section";
import type { CollectionKey } from "astro:content";
import type { MarkdownHeading } from "astro";
import { getCategoryTree } from "@/scripts/category";
import MainCategory from "@/components/MainCategory.astro";

interface Props {
  section: keyof typeof sectionMap;
  frontmatter: CollectionEntry<"blog">["data"];
  headings: MarkdownHeading[];
  relatedPosts: CollectionEntry<"blog">[];
  recentlyPosts: CollectionEntry<"blog">[];
}

const { section, frontmatter, headings, relatedPosts } = Astro.props;
const relatedCategoryTree = await getCategoryTree(frontmatter.category[0]);
---

<BaseLayout
  title={frontmatter.title}
  keywords={frontmatter.keywords}
  description={frontmatter.description}
  image={frontmatter.image}
  section={section}
  created={frontmatter.created.toISOString()}
  updated={frontmatter.updated?.toISOString()}
>
  <SectionHeader section={section} />
  {headings && <TableOfContents headings={headings} />}
  <article class:list={[{ "non-headings-article": !headings || headings.length === 0 }]}>
    <MarkdownPostHeader frontmatter={frontmatter} />
    <MarkdownPost>
      <slot />
    </MarkdownPost>
    <CreativeCommonsCard title={frontmatter.title} created={frontmatter.created} />
    <div>Giscus 댓글란</div>
    <div class="another-posts-header">같은 카테고리 내 다른 글들</div>
    <MainCategory node={relatedCategoryTree[0]} />
    <!-- {
      relatedPosts.length > 0 && (
        <div class="another-posts">
          <div class="another-posts-header">같은 카테고리 내 다른 글들 - 랜덤 (3개)</div>
          <div class="another-posts-lists">
            {relatedPosts.map((each, index) => (
              <a
                class:list={["another-post-link", { "padding-top": section === "opinion" }]}
                href={`/posts/${each.filePath?.split("/").slice(1, -1).join("/")}`}
              >
                <MarkdownPostSummaryBar
                  post={each}
                  isDisplaySection={false}
                  isDisplayCategory={section !== "opinion"}
                />
              </a>
            ))}
          </div>
        </div>
      )
    } -->
    <div class="another-posts-header">최근에 게시된 글들</div>
    {
      relatedPosts.length > 0 && (
        <div class="another-posts-lists">
          {relatedPosts.map((each, index) => (
            <a
              class:list={["another-post-link", { "padding-top": section === "opinion" }]}
              href={`/posts/${each.filePath?.split("/").slice(1, -1).join("/")}`}
            >
              <MarkdownPostSummaryBar
                post={each}
                isDisplaySection={false}
                isDisplayCategory={section !== "opinion"}
              />
            </a>
          ))}
        </div>
      )
    }
  </article>
</BaseLayout>

<style>
  article {
    max-width: 800px;
    /* 여기에 패딩을 주어 우측 공간을 버릴지 아니면 TOC 에 패딩을 줘서 오른쪽으로 좀 옮길지 고민하다 전자 선택 */
    padding: 0 1.5em 0 0;
    margin: 0 auto 2.4em;

    @media only screen and (max-width: 1280px) {
      margin: 0 auto 2em 50px;
      padding: 0 1.2rem;
    }
    @media only screen and (max-width: 1024px) {
      margin: 0 auto 1.6em 0;
    }
    @media only screen and (max-width: 970px) {
      margin: 0 auto 1.4em;
    }
  }

  .non-headings-article {
    margin-inline: auto;
    padding-inline: 0.75em;

    @media only screen and (max-width: 1280px) {
      padding-inline: 1.2rem;
    }
  }

  .post-image {
    margin-top: 1.4em;
  }

  .post-category {
    padding-top: 1.4em;
    letter-spacing: 0.03em;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  .post-headline {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    font-size: 1.6em;
    font-weight: 500;

    @media only screen and (max-width: 700px) {
      font-size: 1.25em;
    }
  }

  .post-deck {
    margin: 0.95em 0 0;
    padding: 0 0.1em;
    line-height: 1.8;
    font-size: 1em;

    @media only screen and (max-width: 700px) {
      font-size: 0.84em;
    }
  }

  .post-absract {
    margin: 0 auto;
    padding: 1em 1em 0;
    max-width: 750px;
    display: flex;
    justify-content: center;
    line-height: 1.8;
    font-size: 1em;

    @media only screen and (max-width: 700px) {
      font-size: 0.84em;
    }
  }
  .post-time {
    margin: 1em 0 1.5em;
  }
  .post-created-time {
    color: var(--brand);
    font-weight: 300;
  }

  .post-created-time,
  .post-updated-time {
    display: block;
    padding-left: 1em;
    letter-spacing: 0.02em;
    font-size: 0.83em;

    @media only screen and (max-width: 700px) {
      padding-left: 0.1em;
    }
  }

  .another-post-link {
    display: block;
    color: inherit;
    text-decoration: none;

    padding: 0.4em 0.6em 0.4em;
    /* padding-left: 0.6em; */
    /* border-left: 1px solid color-mix(in srgb, var(--text), transparent 50%); */
    /* border-left: 1px solid var(--hr); */

    border: 1px solid color-mix(in srgb, var(--text), transparent 50%);
    border-radius: 0.5rem;

    transition: all 0.2s ease;
  }

  .padding-top {
    padding-top: 0.5em;
  }

  .another-post-link:hover {
    border-color: var(--text-link);
    background: linear-gradient(135deg, var(--bg) 0%, var(--text-link-background) 100%);

    transform: translateX(1px);
  }

  .another-posts-header {
    margin-top: 0.6em;
    margin-bottom: 0.2em;
    font-size: 1.1em;
    font-weight: 500;

    /* color: var(--text-link); */
    /* background: hsla(253, 15%, 18%, 0.7);
    color: white;
    html.dark & {
      background: var(--text-placeholder);
    } */
  }

  .another-posts-lists {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
  }
</style>
